@media screen and (min-width: 800px) {
    body { max-width: 66vw;
           min-height: 98vh;
           padding: 0 2em;
           border: 1vh groove #847467; }
    article { display: block; }
    header { flex-direction: row; }
    header nav { width: 100%;
                 text-align: right; }
    header nav ul li a { display: block;
                         padding: 2em 0 0 2em; }
    main header section { margin-right: 00; }
    main header h2 {margin: 0;
                    padding-left: 0rem; }}
