@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Press+Start+2P&display=swap');
/* Colors -  DARK: #462700; LIGHT: #B9A89B; MID: #847467; POP: #2A6749; */
html { background-color: #2A6749;
       min-height: 100vh; }
body { margin: 0 auto;
       font-family: 'Montserrat', serif;
       min-height: 100vh; }
@media screen {
    body { width: 90vw;
           padding: 1em; } }
@media screen and (min-width: 800px) {
    body { max-width: 66vw;
           min-height: 98vh;
           padding: 0 2em;
           border: 1vh groove #847467; }
    header { display: flex; }
    header nav { width: 100%;
        text-align: right; }
    header nav ul { margin-bottom: 0; }
    header nav ul li a { display: block;
                         padding: 2em;
                         padding-bottom: 0; } }
body, header, main, footer { background-color: #B9A89B; }
a:link, a:visited, a:hover, a:active { text-decoration: none;
                                       color: #2A6749; }
header { align-items: baseline;
         margin: auto; }
header a h1 { font-family: 'Press Start 2P', cursive;
              font-size: 2em;
              color: #462700;
              margin: 0 1em;
              padding-bottom: 0; }
header nav ul li { display: inline-block;
                   list-style-type: none;
                   transition: all 0.2s; }
main { margin: auto;
       position: relative;
       min-height: 25em;
       padding: 2em 3em;
       border: 0.1em solid #2A6749;
       background-color: #FEFDFC77; }
main article section h3 { margin-bottom: 0; }
main article time, main article aside { font-style: italic;
                                        font-size: x-small; }
main article aside { position: absolute;
                     bottom: 1rem;
                     right: 3rem;}
main article section hr { width: 4em; }
footer { text-align: center; }
